html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  /*Need to import font properly*/
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.App {
  margin-top: 7em;
}

/*#food-search {
  margin-top: 5em;
}*/


/*
Used https://codepen.io/cbracco/pen/zekgx to get footer to the bottom
*/
